@model DevInterview.AdminPanel.Web.Models.TopicsIndexViewModel

@{
    ViewData["Title"] = "Topics";
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">

   
        <div class="row">
            <div class="col text-end">
                <a asp-action="Create" asp-controller="Topics" class="btn btn-primary">Add Topic</a>
            </div>
        </div>
        <hr />
        <table id="data" class='table table-bordered display'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var topic in Model.TopicList)
                {
                    <tr>
                        <td>@topic.Name</td>
                        <td>@topic.Description</td>
                        <td>
                            <a asp-action="Update" asp-controller="Topics" asp-route-topicId="@topic.TopicId" class="btn btn-sm btn-outline-dark">Edit</a>
                            <a class="btn btn-sm btn-outline-danger" onclick="Confirm('@topic.TopicId')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="deleteTopicModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Topic</h3>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this <strong>Topic</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Cancel</button>
                <button id="btnDelete" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="topicId" />

<script>
    $(document).ready(function () {
        
        //$('#data').DataTable();

        let table = new DataTable('#data');

        $("#btnDelete").click(function () {
            var id = $("#topicId").val();
            $.ajax({
                type: "POST",
                url: "/Topics/Delete",
                data: { id: id },
                success: function (result) {
                    if (result) {
                        $("#topicId").val(null);
                        window.location.href = "/Topics/Index";
                    } else {
                        alert("Opps something wrong");
                    }
                }
            });
        });
    });

    var Confirm = function (id) {
        $("#topicId").val(id);
        $("#deleteTopicModal").modal('show');
    }
</script>