@model DevInterview.AdminPanel.Web.Models.QuestionsIndexViewModel

@{
    ViewData["Title"] = "Questions";
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <select id="roleId" class="form-select" asp-for="SelectedRoleId" onchange="FillTopics(this)">
                    <option value="-1">-- Select a Role --</option>
                    @foreach (var role in Model.RoleList)
                    {
                        <option value="@role.RoleId" data="@role.Name">@role.Name</option>
                    }
                </select>

            </div>
            <div class="col">
                <select id="topicId" class="form-select" asp-for="SelectedTopicId" onchange="FillQuestions(this)">
                    <option value="-1">-- Select a Topic --</option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addQuestionModal">Add Question</button>
            </div>
        </div>
        <hr />

@*         <table class='table table-bordered'>
            <thead>
                <tr>
                    <th class="visually-hidden">Id</th>
                    <th>Name</th>
                    <th class="w-25">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var question in Model.QuestionList)
                {
                    <tr>
                        <td class="visually-hidden">@question.Id</td>
                        <td>@question.Text</td>
                        <td>
                            <a asp-action="Update" asp-controller="Questions" asp-route-topicId="@question.Id" class="btn btn-sm btn-outline-dark">Edit</a>
                            <a class="btn btn-sm btn-outline-danger" onclick="Confirm('@question.Id')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table> *@


        <table id="dataTable" class='table table-bordered'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los datos se llenarán aquí dinámicamente -->
            </tbody>
        </table>



    </div>
</div>

<div class="modal fade" id="addQuestionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Question</h3>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="saveForm" enctype="multipart/form-data">
@*                     <div class="form-group">
                        <label class="control-label">Name</label>
                        <input asp-for="Role.Name" id="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Image</label>
                        <input id="fileUpload"
                               type="file"
                               class="form-control"
                               name="file"
                               accept="image/*"
                               required />
                    </div> *@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Cancel</button>
                <button id="btnSave" class="btn btn-block btn-success">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    function FillTopics(listRoleCtrl) {
        var topicList = $("#topicId");
        topicList.empty();
        topicList.append('<option value="-1">-- Select a Topic --</option>');


        var selectedRole = listRoleCtrl.options[listRoleCtrl.selectedIndex].value;

        if (selectedRole != null && selectedRole != '') {
            $.getJSON("/Topics/GetTopicsByRole", { roleId: selectedRole }, function (topics) {
                if (topics != null && !jQuery.isEmptyObject(topics)) {
                    $.each(topics, function (index, topic) {
                        topicList.append($('<option/>', {
                            value: topic.value,
                            text: topic.text
                        }));
                    });
                }
            });
        }
        return;
    }

    function FillQuestions(listTopicCtrl) {
        var dataTable = $("#dataTable tbody");
        dataTable.empty();

        var selectedTopicId = listTopicCtrl.options[listTopicCtrl.selectedIndex].value;

        $.getJSON("/Questions/GetQuestionsByTopic", { topicId: selectedTopicId }, function (data) {
            if (data != null && data.length > 0) {
                $.each(data, function (index, item) {
                    dataTable.append('<tr><td>' + item.text + '</td><td><a class="btn btn-sm btn-outline-danger" onclick="Confirm(\'' + item.id + '\')">Delete</a></td></tr>');
                });
            } else {
                dataTable.append('<tr><td colspan="2">No data available</td></tr>');
            }
        });
    }


    var Confirm = function (id) {
        alert(id);
    }
</script>