@model DevInterview.AdminPanel.Web.Models.QuestionsIndexViewModel

@{
    ViewData["Title"] = "Questions";
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col text-end">
                <a asp-action="Create" asp-controller="Questions" class="btn btn-primary">Add Question</a>
            </div>
        </div>

        <hr />

        <table id="data" class='table table-bordered display'>
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Subject</th>
                    <th>Topic</th>
                    <th width="130">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var question in Model.QuestionList)
                {
                    <tr>
                        <td>@question.QuestionText</td>
                        <td>@question.SubjectName</td>
                        <td>@question.TopicName</td>
                        <td>
                            <a asp-action="Update" asp-controller="Questions" asp-route-questionId="@question.Id" class="btn btn-sm btn-outline-dark">Edit</a>
                            <a class="btn btn-sm btn-outline-danger" onclick="Confirm('@question.Id')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="deleteQuestionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Question</h3>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this <strong>Question</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Cancel</button>
                <button id="btnDelete" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="questionIdHidden" />

<script>
    $(document).ready(function () {

        let table = new DataTable('#data');

        $("#btnDelete").click(function () {
            var id = $("#questionIdHidden").val();
            $.ajax({
                type: "POST",
                url: "/Questions/Delete",
                data: { id: id },
                success: function (result) {
                    if (result) {
                        $("#questionIdHidden").val(null);
                        window.location.href = "/Questions/Index";
                    } else {
                        alert("Opps something wrong");
                    }
                }
            });
        });

    });

    function Confirm (id) {
        $("#questionIdHidden").val(id);
        $("#deleteQuestionModal").modal('show');
    }
</script>